@import 'nib'

global-reset()

html
body
	overflow hidden

.hide
	display none

.whole-box
	overflow hidden
	position fixed

#modalbox2
	background red

.box-overlay
	background black
	width 100%
	height 100%
	position fixed
	opacity	0.9

.close-btn
	cursor pointer
	position absolute