html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  overflow: hidden;
  background: #cfcdcd;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
}
#main_container,
h1 {
  text-align: center;
  margin: 80px auto 50px;
}
#main_container h1 {
  font-size: 62px;
}
#github_account {
  margin: 15px;
}
#main_container a:hover {
  text-decoration: underline;
}
.hide {
  display: none;
}
.whole-box {
  overflow: hidden;
  position: fixed;
}
#modalbox2 {
  background: #f00;
}
#modalbox2 p {
  padding: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}
.box-overlay {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  top: 0;
  left: 0;
}
.close-btn {
  cursor: pointer;
  position: absolute;
}
.click_btn {
  color: #aaa;
  font-size: 13px;
  font-weight: 700;
  background: #fff;
  margin: 10px 10px 20px;
  padding: 0px 20px;
  line-height: 50px;
  height: 50px;
  width: 180px;
  border: none;
  -webkit-box-shadow: 0 3px 0 rgba(0,0,0,0.1);
  box-shadow: 0 3px 0 rgba(0,0,0,0.1);
  cursor: pointer;
}
#github-logo {
  width: 228px;
  height: 90px;
  margin: 0 auto;
  margin-top: 50px;
}
